<div id="<%= dom_id post %>">
  <h3><%= post.title %></h3>
    <div>
    <p> <%= post.body %> </p>
    </div> 
  <h5>posted by <%= link_to post.user.name, user_path(post.user) %></h5>
  <h6><%= pluralize(post.views, "view") %></h6>

  <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
  <% if pre_like %>
    <%= button_to 'ðŸ‘Ž', post_like_path(post, pre_like), class:"btn ", method: :delete %>
  <% else %>
    <%= button_to 'ðŸ‘', post_likes_path(post), class:"btn ", method: :post %>
  <% end %>
  <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>


  <% pre_favorite = post.favorites.find { |favorite| favorite.user_id == current_user.id} %>
  <% if pre_favorite %>
    <%= button_to 'ðŸ˜¡', post_favorite_path(post, pre_favorite), class:"btn ", method: :delete %>
  <% else %>
    <%= button_to 'â¤ï¸', post_favorites_path(post), class:"btn ", method: :post %>
  <% end %>
  <p><%= post.favorites.count %> <%= (post.favorites.count) == 1 ? 'Favorite' : 'Favorites'%></p>

</div>